<div class="intro text-shadow">
  <Background />

 <div class="inputContainer">
   <p class="question mt-0">तिम्रो नाम के हो</p>
   <input
     type="text"
     class="inputName"
     @keyup="handleKeyUp"
     v-model="inputName"
     spellcheck="false"
   />

   <div class="w-100 d-flex justify-content-between">
     <div class="suggestionsList d-flex flex-col">
       <div class="suggestionsListItem text-muted" v-if="loading">
         <i class="fas fa-spinner fa-spin"></i>
       </div>
       <template v-if="suggestions && suggestions.length && nepaliUnicode">
         <div
           class="suggestionsListItem"
           v-for="(suggestion, index) in suggestions"
           :key="index"
           @click="selectSuggestion(suggestion)"
         >
           {{ suggestion }}
         </div>
       </template>
     </div>

     <Toggle
       v-model="nepaliUnicode"
       :value="nepaliUnicode"
       lblChecked="ने"
       lblUnchecked="En"
       :width="40"
     />
   </div>
 </div>
</div>